.tabsContainer {

    padding: 2px;

}

.tabsContainer>.top {
    list-style: none;
    display: flex;
    gap: 10px;

}

.tabsContainer>.top .select {

    color: #0004ff;
}

.tabsContainer>.top>li {
    padding: 0 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    /* backgroupxnd: #923030; */
}

.tabsContainer>.bottom {
    list-style: none;
    border-top: 2px solid #0004ff;


}

.tabsContainer>.bottom .select {
    display: block;
    border-radius: 20px;
}

.tabsContainer>.bottom li {
    overflow: hidden;
    /* background: #2d98fc75; */
    padding: 20px;
    display: none;

}

.tabsContainer>.bottom .gallery.select {
    display: flex;
    border-radius: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 20px;
    gap: 25px;
}

.gallery>div {
    /* overflow: hidden; */
    position: relative;
}



.gallery>img:hover {
    filter: brightness(1);
}

.gallery>img {
    width: 500px;
    height: 270px;
    transition-duration: 300ms;
    border-radius: 10px;
    cursor: pointer;
    filter: brightness(0.7)
}

ul {

    list-style: none;
}



.timeLine>div {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: start;
}

.timeLine>div>.content {
    display: flex;
    gap: 5px;
    /* justify-content: space-k; */
    align-items: center;
}

.timeLine>div>.content>img {
    width: 500px;
    border-radius: 12px;
    margin-right: 15px;
    box-shadow: 0 0 40px 0 #0079ebad
}

.timeLine>div>.time {
    display: flex;
    flex-flow: column;
    /* height: fit-content; */
    justify-content: center;
    align-items: center;
    height: 100%;


}

.timeLine>div>div>span {
    height: 50%;
    border-right: 3px solid #0071DC;
    width: 0.25px;
}

.timeLine>div>div>h3 {
    border: 3px solid #0071DC;
    text-align: center;
    line-height: 50px;
    color: #0071DC;
    margin: 0;
    height: 50px;
    width: 50px !important;
    border-radius: 10000px;
}

.timeLine>div p {
    color: #0071DC;
    font-weight: 500;
    padding: 10px;
    line-height: 130%;
    font-size: 20px;
    width: 50%;
}

@media screen and (max-width:768px) {
    #tabProvider {
        padding-right: 0;
    }

    .timeLine>div>.content>img {
        width: 270px;
    }.timeLine>div>.content {
        display: block;
    }
    .timeLine>div p {
        width: 90%;
        margin:  0 auto;
        font-size: 19px;
    }
    .gallery>img {
        width: 300px;
        height: 220px;
    }

        

}